body {
  max-width: 40em;
  margin:   auto;
  background-color: #dbc6b8;
}
h1 {
  color: #581d28; /* medium Mun red */
}
h2 { 
    color: #51203d;
}    
h3 {
  color: #144f5f;
}
p {
  color: #22324c;
}
